<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066123805890-bv4l67cejtulenvr71qh3o4u1v4mbfgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066123805890-bv4l67cejtulenvr71qh3o4u1v4mbfgj</string>
	<key>API_KEY</key>
	<string>AIzaSyBrxWLhpqdxWyjuvOkvc33BERNttfXf_I8</string>
	<key>GCM_SENDER_ID</key>
	<string>1066123805890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.barbarBookingApp</string>
	<key>PROJECT_ID</key>
	<string>parlour-app-1e3b3</string>
	<key>STORAGE_BUCKET</key>
	<string>parlour-app-1e3b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066123805890:ios:c8cead1845160518d7275b</string>
</dict>
</plist>